<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.memorygame">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
        <service android:name=".musicService.MusicService"
            android:enabled="true"/>
        <activity android:name=".activity.MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
<!--        <activity android:name=".activity.OptionsActivity"
            android:launchMode="singleTask"/>-->
<!--        <activity android:name=".GameActivity"
            android:launchMode="singleTask"/>-->
<!--        <activity android:name=".TwoPlayerGame"
            android:launchMode="singleTask"/>-->
        <activity android:name=".activity.ShopActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".activity.StageSelectActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".activity.ForestStageActivity"
            android:launchMode="singleTask"/>
<!--        <activity android:name=".ForestLayout"
            android:launchMode="singleTask"/>-->
        <activity android:name=".activity.CandylandStageActivity"
            android:launchMode="singleTask"/>
<!--        <activity android:name=".CandylandLayout"
            android:launchMode="singleTask"/>-->
        <activity android:name=".activity.CityStageActivity"
            android:launchMode="singleTask"/>
<!--        <activity android:name=".CityLayout"
            android:launchMode="singleTask"/>-->
        <activity android:name=".activity.TwoPlayerActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".activity.TwoPlayersSetting"
            android:launchMode="singleTask"/>
        <activity android:name=".activity.TutorialActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".activity.SoloGameActivity"
            android:launchMode="singleTask"/>
    </application>

</manifest>